@{
    ViewBag.Title = "Home Page";
}

<!--======= START REVOLUTION SLIDER Fullscreen =======-->
<div class="tp-banner-container rs_fullscreen">
    <div class="tp-banner">
        <ul>
            <li data-transition="fade" data-masterspeed="500" data-slotamount="7" data-delay="8000" data-title="Slide 1">
                <img src="img/slide/dersnotlari.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" alt="">
                <div class="bg-overlay"></div>
                <div class="tp-caption sft stt" data-x="center" data-hoffset="0" data-y="center" data-voffset="-100" data-speed="600" data-start="300" data-endspeed="400" data-end="7950" data-easing="Power4.easeOut" style="z-index: 3">
                    <h3 class="title-slider-small uppercased mb10">an easy way to access lecture notes</h3>
                    <div class="br-bottom-center"></div>
                </div>
                <div class="tp-caption sfb stb" data-x="center" data-hoffset="0" data-y="center" data-voffset="5" data-speed="600" data-start="400" data-endspeed="400" data-end="7950" data-easing="Power4.easeOut" style="z-index: 3">
                    <h2 class="title-slider-large uppercased bordered">note browser</h2>
                </div>
            </li>
            <li data-transition="fade" data-masterspeed="500" data-slotamount="7" data-delay="8000" data-title="Slide 1">
                <img src="img/slide/social-media2.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" alt="">
                <div class="bg-overlay"></div>

                <!-- Sub Heading -->
                <div class="tp-caption title-slider-large sfb stt" data-x="645" data-y="center" data-voffset="-145" data-speed="300" data-start="1400" data-endspeed="400" data-end="9950" data-easing="Power3.easeInOut" data-endeasing="" style="z-index: 8"> Share </div>
                <div class="tp-caption title-slider-medium uppercased sfb stt" data-x="645" data-y="center" data-voffset="-75" data-speed="300" data-start="1600" data-endspeed="500" data-end="9950" data-easing="Power3.easeInOut" data-endeasing="" style="z-index: 8"> Use Social Media </div>
                <!-- 1 -->
                <div class="tp-caption tp-list-1 sfb stt" data-x="675" data-y="center" data-voffset="-20" data-speed="300" data-start="1800" data-endspeed="500" data-end="9950" data-easing="Linear.easeNone" data-splitin="chars" data-splitout="" data-elementdelay="0.02" data-endelementdelay="0.1" style="z-index: 7; max-width: auto; max-height: auto; white-space: nowrap;"> Facebook </div>
                <!-- 2 -->
                <div class="tp-caption tp-list-1 sfb stt" data-x="675" data-y="center" data-voffset="20" data-speed="300" data-start="1900" data-endspeed="500" data-end="9950" data-easing="Linear.easeNone" data-splitin="chars" data-splitout="" data-elementdelay="0.02" data-endelementdelay="0.1" style="z-index: 8; max-width: auto; max-height: auto; white-space: nowrap;"> Twitter </div>
                <!-- 3 -->
                <div class="tp-caption tp-list-1 sfb stt" data-x="675" data-y="center" data-voffset="60" data-speed="300" data-start="2000" data-endspeed="500" data-end="9950" data-easing="Linear.easeNone" data-splitin="chars" data-splitout="" data-elementdelay="0.02" data-endelementdelay="0.1" style="z-index: 9; max-width: auto; max-height: auto; white-space: nowrap;"> Google+ </div>
                <!-- 4 -->
                <div class="tp-caption tp-list-1 sfb stt" data-x="675" data-y="center" data-voffset="100" data-speed="300" data-start="2100" data-endspeed="500" data-end="9950" data-easing="Linear.easeNone" data-splitin="chars" data-splitout="" data-elementdelay="0.02" data-endelementdelay="0.1" style="z-index: 10; max-width: auto; max-height: auto; white-space: nowrap;"> and more ... </div>
                <!-- icon 1 -->
                <div class="tp-caption checkbox-slide customin" data-x="645" data-y="center" data-voffset="-20" data-speed="300" data-start="1900" data-endspeed="500" data-end="9950" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:4;scaleY:4;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 110%;" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;"> <i class="fa fa-check"></i> </div>
                <!-- icon 2 -->
                <div class="tp-caption checkbox-slide customin" data-x="645" data-y="center" data-voffset="20" data-speed="300" data-start="2000" data-endspeed="500" data-end="9950" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:4;scaleY:4;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 110%;" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;"> <i class="fa fa-check"></i> </div>
                <!-- icon 3 -->
                <div class="tp-caption checkbox-slide customin" data-x="645" data-y="center" data-voffset="60" data-speed="300" data-start="2100" data-endspeed="500" data-end="9950" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:4;scaleY:4;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 110%;" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;"> <i class="fa fa-check"></i> </div>
                <!-- icon 4 -->
                <div class="tp-caption checkbox-slide customin" data-x="645" data-y="center" data-voffset="100" data-speed="300" data-start="2200" data-endspeed="500" data-end="9950" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:4;scaleY:4;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 110%;" data-easing="Linear.easeNone" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-index: 12; max-width: auto; max-height: auto; white-space: nowrap;"> <i class="fa fa-check"></i> </div>
            </li>
            <li data-transition="fade" data-slotamount="7" data-delay="8000" data-title="Slide 4">
                <img src="img/slide/lesson1.jpg" data-bgposition="left center" data-bgfit="cover" data-bgrepeat="no-repeat" alt="">
                <div class="bg-overlay"></div>
                <div class="tp-caption sfr stb" data-x="right" data-hoffset="-15" data-y="center" data-voffset="-45" data-speed="900" data-start="600" data-endspeed="400" data-end="7980" data-easing="Power3.easeInOut" data-endeasing="" style="z-index: 4">
                    <h2 class="title-slider-large text-right">Demand Notes</h2>
                </div>
                <div class="tp-caption sfr stb" data-x="right" data-hoffset="-15" data-y="center" data-voffset="60" data-speed="1000" data-start="1000" data-endspeed="400" data-end="7900" data-easing="Power3.easeInOut" data-endeasing="" style="z-index: 4">
                    <h4 class="title-slider-small uppercased text-right">
                        any university <span class="tp-pad10"></span>
                        any lesson
                    </h4>
                </div>

                <div class="tp-caption sfb stl" data-x="right" data-hoffset="15" data-y="center" data-voffset="130" data-speed="900" data-start="1200" data-endspeed="600" data-end="7950" data-easing="Power3.easeInOut" data-endeasing="" style="z-index: 4">
                    <a href="#" class="btn-slider reversed">
                        demand now
                    </a>
                </div>
            </li>

            <li data-transition="fade" data-slotamount="7" data-delay="8000" data-title="Slide 3">
                <img src="img/slide/student2.jpg" data-bgposition="right center" data-bgfit="cover" data-bgrepeat="no-repeat" alt="">
                <div class="bg-overlay"></div>
                <div class="tp-caption sfl stl" data-x="left" data-hoffset="15" data-y="center" data-voffset="-75" data-speed="700" data-start="600" data-endspeed="400" data-end="7800" data-easing="Power3.easeInOut" data-endeasing="" style="z-index: 4">
                    <h2 class="title-slider-large">
                        Latest <br>
                        Lecture Notes
                    </h2>
                </div>
                <div class="tp-caption sfl stl" data-x="left" data-hoffset="15" data-y="center" data-voffset="60" data-speed="700" data-start="1000" data-endspeed="400" data-end="7900" data-easing="Power3.easeInOut" data-endeasing="" style="z-index: 4">
                    <h3 class="title-slider-small uppercased">browse more ...</h3>
                </div>
                <div class="tp-caption sfb stl" data-x="left" data-hoffset="15" data-y="center" data-voffset="130" data-speed="900" data-start="1200" data-endspeed="600" data-end="7950" data-easing="Power3.easeInOut" data-endeasing="" style="z-index: 4">
                    <a href="#" class="btn-slider reversed">
                        browse
                    </a>
                </div>
            </li>
        </ul>
    </div>
    <div class="colorfull-row full-bottom">
        <div class="container-fluid">
            <div class="wrapper">
                <!-- Begin domain search form -->
                <div class="domain-search">
                    <form class="form-domain">
                        <!-- Search input -->
                        <div class="search-input">
                            <input class="form-control input-domain" placeholder="search lecture notes" type="text">
                            <!--<div class="domain-extension">
                              <select class="form-control">
                                <option value=".com" selected="selected">.com</option>
                                <option value=".org">.org</option>
                                <option value=".net">.net</option>
                                <option value=".info">.info</option>
                                <option value=".in">.in</option>
                                <option value=".asia">.asia</option>
                                <option value=".it">.it</option>
                                <option value=".xxx">.xxx</option>
                              </select>
                            </div>-->
                        </div>
                        <!-- /.search-input -->
                        <button class="btn btn-success btn-block" type="submit">Search</button>
                    </form>
                </div>
                <!-- /.domain-search -->
                <!-- End domains search form -->
            </div>
            <!-- /.wrapper -->
        </div>
        <!-- /.container-fluid -->
    </div>
</div>
<!--=======Second=======-->
<div class="second">
    <div class="container">
        <!-- Icons -->
        <div class="row">
            <div class="col-sm-4">
                <div class="icon-hover-zoom">
                    <div class="icon-box style-side-2">
                        <div class="col-left"><i class="icon-3x fa fa-desktop"><i class="circle-border"></i></i></div>
                        <div class="o-hidden">
                            <h4 class="box-title"><a href="#">Quality Control</a></h4>
                            <p>Notes are being controlled particularly by Our Team</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-hover-zoom">
                    <div class="icon-box style-side-2">
                        <div class="col-left"><i class="icon-3x fa fa-cloud"><i class="circle-border"></i></i></div>
                        <div class="o-hidden">
                            <h4 class="box-title"><a href="#">Available On All Devices</a></h4>
                            <p>Use either your personel computer or mobile devices.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="icon-hover-zoom">
                    <div class="icon-box style-side-2">
                        <div class="col-left"><i class="icon-3x fa fa-line-chart"><i class="circle-border"></i></i></div>
                        <div class="o-hidden">
                            <h4 class="box-title"><a href="#">Rich Content</a></h4>
                            <p>All university and lecture notes are being uploaded. Keep checking the site or let us know you.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=======Parallax=======-->
<div class="parallax parallax-image1" data-stellar-background-ratio="0.5">
    <div class="parallax-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 box">
                    <div class="counters-box style1">
                        <div class="icon-wrap"> <img src="img/icons/ico-pic1.png" alt=""> </div>
                        <dl>
                            <dt class="display-counter" data-value="5">5</dt>
                            <dd class="fontsize-lg">Universities</dd>
                        </dl>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 box">
                    <div class="counters-box style1">
                        <div class="icon-wrap"> <img src="img/icons/ico-pic2.png" alt=""> </div>
                        <dl>
                            <dt class="display-counter" data-value="100">100</dt>
                            <dd class="fontsize-lg">Departments</dd>
                        </dl>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 box">
                    <div class="counters-box style1">
                        <div class="icon-wrap"> <img src="img/icons/ico-pic3.png" alt=""> </div>
                        <dl>
                            <dt class="display-counter" data-value="500">500</dt>
                            <dd class="fontsize-lg">Lectures</dd>
                        </dl>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 box">
                    <div class="counters-box style1">
                        <div class="icon-wrap"> <img src="img/icons/ico-pic4.png" alt=""> </div>
                        <dl>
                            <dt class="display-counter" data-value="2">2</dt>
                            <dd class="fontsize-lg">Country</dd>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=======Second=======-->
<div class="second">
    <div class="container">
        <div class="heading-box">
            <h2 class="box-title"> Last Uploaded Notes! </h2>
        </div>
        <div class="row">
            <div class="carousel-blog owl-carouse2">
                <div class="item">
                    <div class="blog-item-wrap">
                        <div class="owl-img-wrapper owl-img-zoom2 img-st-hv">
                            <img class="img-responsive" src="img/1.jpg" alt="">
                            <div class="img-st">
                                <div class="img-st-bor">
                                    <div class="img-caption-activeWrap"> <a href="img/1.jpg" class="btn-img-st-bor fancybox">View more</a> <a href="#" class="btn-img-st-bor">zoom</a></div>
                                    <div class="img-overlay-border"></div>
                                </div>
                            </div>
                        </div>
                        <section class="post-content">
                            <h4><a href="#">Post with video</a></h4>
                            <div class="meta"><span>21 Augst 14</span>&nbsp;&nbsp;/&nbsp;<span><a href="#">admin</a></span>&nbsp;&nbsp;/&nbsp;<span><a href="#">No Comments</a></span></div>
                            <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu ...</p>
                            <div class="post-btn-wrapper"><a class="post-btn" href="#">read more &gt;</a></div>
                        </section>
                    </div>
                </div>
                <div class="item">
                    <div class="blog-item-wrap">
                        <div class="owl-img-wrapper owl-img-zoom2 img-st-hv">
                            <img class="img-responsive" src="img/2.jpg" alt="">
                            <div class="img-st">
                                <div class="img-st-bor">
                                    <div class="img-caption-activeWrap"> <a href="img/1.jpg" class="btn-img-st-bor fancybox">View more</a> <a href="#" class="btn-img-st-bor">zoom</a></div>
                                    <div class="img-overlay-border"></div>
                                </div>
                            </div>
                        </div>
                        <section class="post-content">
                            <h4><a href="#">Post with video</a></h4>
                            <div class="meta"><span>21 Augst 14</span>&nbsp;&nbsp;/&nbsp;<span><a href="#">admin</a></span>&nbsp;&nbsp;/&nbsp;<span><a href="#">No Comments</a></span></div>
                            <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu ...</p>
                            <div class="post-btn-wrapper"><a class="post-btn" href="#">read more &gt;</a></div>
                        </section>
                    </div>
                </div>
                <div class="item">
                    <div class="blog-item-wrap">
                        <div class="owl-img-wrapper owl-img-zoom2 img-st-hv">
                            <img class="img-responsive" src="img/3.jpg" alt="">
                            <div class="img-st">
                                <div class="img-st-bor">
                                    <div class="img-caption-activeWrap"> <a href="img/1.jpg" class="btn-img-st-bor fancybox">View more</a> <a href="#" class="btn-img-st-bor">zoom</a></div>
                                    <div class="img-overlay-border"></div>
                                </div>
                            </div>
                        </div>
                        <section class="post-content">
                            <h4><a href="#">Post with video</a></h4>
                            <div class="meta"><span>21 Augst 14</span>&nbsp;&nbsp;/&nbsp;<span><a href="#">admin</a></span>&nbsp;&nbsp;/&nbsp;<span><a href="#">No Comments</a></span></div>
                            <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu ...</p>
                            <div class="post-btn-wrapper"><a class="post-btn" href="#">read more &gt;</a></div>
                        </section>
                    </div>
                </div>
                <div class="item">
                    <div class="blog-item-wrap">
                        <div class="owl-img-wrapper owl-img-zoom2 img-st-hv">
                            <img class="img-responsive" src="img/4.jpg" alt="">
                            <div class="img-st">
                                <div class="img-st-bor">
                                    <div class="img-caption-activeWrap"> <a href="img/1.jpg" class="btn-img-st-bor fancybox">View more</a> <a href="#" class="btn-img-st-bor">zoom</a></div>
                                    <div class="img-overlay-border"></div>
                                </div>
                            </div>
                        </div>
                        <section class="post-content">
                            <h4><a href="#">Post with video</a></h4>
                            <div class="meta"><span>21 Augst 14</span>&nbsp;&nbsp;/&nbsp;<span><a href="#">admin</a></span>&nbsp;&nbsp;/&nbsp;<span><a href="#">No Comments</a></span></div>
                            <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu ...</p>
                            <div class="post-btn-wrapper"><a class="post-btn" href="#">read more &gt;</a></div>
                        </section>
                    </div>
                </div>
                <div class="item">
                    <div class="blog-item-wrap">
                        <div class="owl-img-wrapper owl-img-zoom2 img-st-hv">
                            <img class="img-responsive" src="img/5.jpg" alt="">
                            <div class="img-st">
                                <div class="img-st-bor">
                                    <div class="img-caption-activeWrap"> <a href="img/1.jpg" class="btn-img-st-bor fancybox">View more</a> <a href="#" class="btn-img-st-bor">zoom</a></div>
                                    <div class="img-overlay-border"></div>
                                </div>
                            </div>
                        </div>
                        <section class="post-content">
                            <h4><a href="#">Post with video</a></h4>
                            <div class="meta"><span>21 Augst 14</span>&nbsp;&nbsp;/&nbsp;<span><a href="#">admin</a></span>&nbsp;&nbsp;/&nbsp;<span><a href="#">No Comments</a></span></div>
                            <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu ...</p>
                            <div class="post-btn-wrapper"><a class="post-btn" href="#">read more &gt;</a></div>
                        </section>
                    </div>
                </div>
                <div class="item">
                    <div class="blog-item-wrap">
                        <div class="owl-img-wrapper owl-img-zoom2 img-st-hv">
                            <img class="img-responsive" src="img/6.jpg" alt="">
                            <div class="img-st">
                                <div class="img-st-bor">
                                    <div class="img-caption-activeWrap"> <a href="img/1.jpg" class="btn-img-st-bor fancybox">View more</a> <a href="#" class="btn-img-st-bor">zoom</a></div>
                                    <div class="img-overlay-border"></div>
                                </div>
                            </div>
                        </div>
                        <section class="post-content">
                            <h4><a href="#">Post with video</a></h4>
                            <div class="meta"><span>21 Augst 14</span>&nbsp;&nbsp;/&nbsp;<span><a href="#">admin</a></span>&nbsp;&nbsp;/&nbsp;<span><a href="#">No Comments</a></span></div>
                            <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu ...</p>
                            <div class="post-btn-wrapper"><a class="post-btn" href="#">read more &gt;</a></div>
                        </section>
                    </div>
                </div>
                <div class="item">
                    <div class="blog-item-wrap">
                        <div class="owl-img-wrapper owl-img-zoom2 img-st-hv">
                            <img class="img-responsive" src="img/3.jpg" alt="">
                            <div class="img-st">
                                <div class="img-st-bor">
                                    <div class="img-caption-activeWrap"> <a href="img/1.jpg" class="btn-img-st-bor fancybox">View more</a> <a href="#" class="btn-img-st-bor">zoom</a></div>
                                    <div class="img-overlay-border"></div>
                                </div>
                            </div>
                        </div>
                        <section class="post-content">
                            <h4><a href="#">Post with video</a></h4>
                            <div class="meta"><span>21 Augst 14</span>&nbsp;&nbsp;/&nbsp;<span><a href="#">admin</a></span>&nbsp;&nbsp;/&nbsp;<span><a href="#">No Comments</a></span></div>
                            <p>Massa turpis ornare nec commodo non, auctor vel felis. Etiam pharetra, turpis nec sollicitudin cursu ...</p>
                            <div class="post-btn-wrapper"><a class="post-btn" href="#">read more &gt;</a></div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>